.wrapper{
    width: 100%;
    background-color: #f4f4f4;
    position: relative;
}
header {
    height: 94px;
    background: #ffba00;
    top: 0;
    position: sticky;
}
.grid{
    padding: 0 12px;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-logo {
    height: 35px;
    width: 96px;
    margin-top: 8px;
    cursor: pointer;
}
.header__navbar-list {
    list-style: none;
    margin-top: 8px;
}
.header__navbar-item {
    position: relative;
}
.header__navbar-item-has--order:hover .header__order {
    display: block;
}
.header__notify-item--has-notify:hover .header__notify {
    display: block;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--black--color);
    text-decoration: none;
    font-weight: 400;
    margin: 0 16px;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
.header__navbar-icon {
    font-size: 2.4rem;
    margin-right: 8px;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-flex    ;
    align-items: center;
}
.header__navbar-item--no-opacity:hover {
    cursor: pointer;
    color: var(--black--color)
}

/*Header Order*/
.header__order {
    position: absolute;
    width: 110px;
    background-color: #fff;
    font-size: 1.5rem;
    left: 0;
    top: 140%;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.25s;
}
.header__order::before {
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    display: block;
    width: 100%;
    height: 20px;
}
.header__order::after {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    right: 35px;
    display: block;
}
.header__sale-order {
    padding: 12px 10px;
}
.header__purchase-order {
    padding: 12px 10px;
}
.header__sale-order:hover,
.header__purchase-order:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Header notification */ 
.header__notify {
    position: absolute;
    top: 140%;
    right: 0;
    width: 400px;
    background-color: #fff;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}
.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 100px;
    height: 20px;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header {
    height: 45px;
    background-color: #fff;
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 15px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 45px;
    user-select: none;
}
.header__notify-list {
    list-style: none;
}
.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(255, 186, 0, 0.08);
}
.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img {
    width: 48px;
    height: 50px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-info-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black--color);
    font-weight: 400;
}
.header__notify-info-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black--color);
    width: 100%;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 36px;
    background-color: var(--white-color);
    padding: 9px 15px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 4px;
}
.search input{
    flex: 1;
    border: 0;
    outline: none;
}
.search div{
    width: 48px;
    height: 28px;
    background-color: #FF8800;
    color: var(--white-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search div:hover {
    cursor: pointer;
}

.post{
    width: 120px;
    height: 36px;
    background-color: #FF8800;
    color: var(--white-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-left: 15px;
}
.post:hover{
    cursor: pointer;
}
.post div{
    font-size: 2rem;
    padding-bottom: 2px;
}
.post span {
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Container */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}
.main-content{
    width: 960px;
}
.banner{
    background-color: var(--white-color);
    padding: 12px;
}
.sub-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.sub-banner-item{
    width: 104px;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 13px;
}
.sub-banner-item:hover{
    cursor: pointer;
}.sub-banner-item p:hover{
    color: #75a8cd;
}
.sub-banner-item img{
    width: 33px;
}
.sub-banner-item i{
    font-size: 33px;
    color: #9BF3EE;
}

.category{
    background-color: var(--white-color);
    margin-top: 12px;
    padding: 12px;
}
.category h2{
    padding: 12px;
    font-size: 1.7rem;
    margin-bottom: 12px;
}
.category-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
    height: 280px;
}
.category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 137px;
    height: 140px;
    font-size: 1.4rem;
    text-align: center;
}
.category-item{
    cursor: pointer;
}
.category-item img{
    width: 84px;
    height: 84px;
    border-radius: 20px;
}
.category-item span{
    margin-top: 8px;
    max-width: 84px;
    line-height: 1.29;
    text-align: center;
}

.feature{
    background-color: var(--white-color);
    margin-top: 12px; 
}
.feature-title{
    font-size: 17px;
    font-weight: 600;
    padding: 24px;
}
.feature-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}
.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 191px;
    height: 314px;
    padding: 13px;
    border-top: 1px solid rgb(248, 245, 245);
}
.feature-item:hover{
    border: 1px solid lightgray;
    box-shadow: 0 0 3px gray;
}
.feature-item img{
    width: 167px;
    height: 167px;
}
.feature-item-name{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}
.feature-item-name span{
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
}
.feature-item-name i{
    font-size: 16px;
}
.feature-item img:hover, .feature-item-name:hover{
    cursor: pointer;
}
.feature-item-name span:hover{
    color: #75a8cd;
}
.feature-item-price{
    color: #d0021b;
    font-size: 15px;
    font-weight: 700;
    width: 167px;
    height: 20px;
    text-align: center;
    margin-top: 4px;
}
.feature-item-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 167px;
    color: #9b9b9b;
    margin-top: 8px;
}
.feature-item-footer div{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #9b9b9b;
}
.loadMore{
    text-align: center;
}
.loadMore button:hover{
    cursor: pointer;
}
.loadMore button{
    font-size: 16px;
    font-weight: bold;
    color: rgb(56, 105, 159);
    border: none;
    background: none;
    margin: 10px 0;
}

/* Footer */
footer{
    padding: 24px;
    background-color: var(--white-color);
}
.footer-list{
    display: flex;
    justify-content: space-around;
    width: 960px;
    padding: 12px;
    margin: 0 160px;
}
.footer-item{
    width: 234px;
    height: 236px;
}
.footer-item ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #9b9b9b;
}
.footer-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.qr-code{
    width: 87px;
    height: 87px;
    margin-right: 12px;
}
.footer-download{
    display: flex;
}
.footer-download div{
    display: flex;
    flex-direction: column;
}
.footer-download div img{
    width: 94px;
    height: 32px;
    margin-bottom: 12px;
}
.footer-item-connect img{
    margin: 0 16px 12px 0;
}
footer hr{
    margin: 8px 0;
    background-color: #9b9b9b;
    height: 1px;
    opacity: 0.4;
}
footer address{
    font-size: 12px;
    font-weight: 400;
    color: #9b9b9b;
    margin: 24px 0;
    text-align: center;
}

/* Login */

.container ul{
    list-style: none;
    display: flex;
    margin: 0 172px;
    font-size: 1.2rem;
    width: 936px;
}
.container ul li{
    display: flex;
    align-items: center;
}
.container ul li span{
    margin: 0 4px;
    font-size: 6px;
}
.container ul li a{
    color: #1956b8;
    text-decoration: none;
}
.auth-form{
    width: 340px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    margin-bottom: 30px;
    background-color: var(--white-color);
}
.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form__header div h3{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
}
.auth-form__header div p{
    font-size: 1.2rem;
    color: #8c8c8c;
    margin-top: 5px;
}
.auth-form__header img{
    width: 87px;
}
.auth-form__form input{
    width: 100%;
    height: 36px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 9px 0;
    outline: none;
}
.auth-form__form input:hover{
    border-color: gray
}
.auth-form form button{
    width: 100%;
    margin: 9px 0;
    color: var(--white-color);
    background-color: #f80;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}
.auth-form form button:hover{
    cursor: pointer;
    opacity: 0.4;
}
.auth-form__forgot{
    text-align: center;
}
.auth-form__forgot a{
    text-decoration: none;
    color: #2a70df;
    font-size: 1.2rem;
}
.auth-form-choice{
    margin-top: 40px;
    color: #8c8c8c;
    font-size: 1.2rem;
    text-align: center;
}
.auth-form__socials div{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 16px;
    margin-bottom: 40px;
}
.auth-form__socials div li:nth-child(2){
    margin: 0 16px;
}
.auth-form__socials-link img{
    font-size: 40px;
}
.auth-form__socials-text{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 8px;
}
.auth-form__socials-text a{
    text-decoration: none;
    color: #1956b8;
}

