header {
    height: 90px;
    background: #ffba00;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-logo {
    height: 35px;
    width: 96px;
    margin-top: 8px;
    cursor: pointer;
}
.header__navbar-list {
    list-style: none;
    margin-top: 8px;
}
.header__navbar-item {
    position: relative;
}
.header__navbar-item-has--order:hover .header__order{
    display: block;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--black--color);
    text-decoration: none;
    font-weight: 400;
    margin: 0 16px;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}
.header__navbar-icon {
    font-size: 2.4rem;
    margin-right: 8px;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-flex    ;
    align-items: center;
}
.header__navbar-item--no-opacity:hover {
    cursor: pointer;
    color: var(--black--color)
}

/*Header Order*/
.header__order {
    position: absolute;
    width: 110px;
    background-color: #fff;
    font-size: 1.5rem;
    left: 0;
    top: 120%;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.25s;
}
.header__order::before {
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    display: block;
    width: 100%;
    height: 20px;
}
.header__sale-order {
    padding: 15px 5px;
}
.header__purchase-order {
    padding: 15px 5px;
}
.header__sale-order:hover,
.header__purchase-order:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Header notification */ 
.header__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 400px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
}
.header__notify-header {
    height: 45px;
    background-color: #fff;
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 15px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 45px;
}
.header__notify-list {
    list-style: none;
}
.header__notify-item {

}
.header__notify-link {
    display: flex;
}
.header__notify-img {

}
.header__notify-info {

}
.header__notify-info-name {

}
.header__notify-info-description {

}